
@{
    ViewBag.Title = "Purasol";
    ViewBag.Description = "Inicio";
}

<div class="row">
    <div class="col-xs-12 col-md-5">
        <div class="box box-default">
            <div class="box-header">
                <h3>Purasol</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                   
                </div>
            </div>
        </div>
    </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">

                        </div>
                        <div class="form-group">

                        </div>
                    </div>
                    <div class="col-md-6">

                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="box box-default">
            <div class="box-header">
                <label>Purasol</label> 
            </div>
            <div class="box-body">
                <div class="form-group">
                
                </div>
            </div>
        </div>
    </div>
  
            <div class="box-body">
                <div class="form-group">
 
                </div>
                <div class="form-group">
               
                </div>
                <div class="form-group">
 
                </div>
                <div class="form-group">
              
                </div>
                <div class="form-group">

                </div>
            </div>
        </div>
    </div>
</div>
